@model IEnumerable<Final_new1.Models.TableMemberBs1101605>
@{
    ViewBag.Title = "SelectQueryB";
}

<h2>屏東台電ID查詢</h2>

<form action="@Url.Action("MySelQueryB")" method="post">
    ID:
    <select name="ID">
        @foreach (var m in Model)
        {
            <option value="@m.mId">@m.mId</option>
        }
    </select>

    <br />
    <input type="submit" value="查詢" class="btn btn-primary" />

</form>

