@model IEnumerable<Final_new1.Models.TableTEAM2s1101605>
@{
    ViewBag.Title = "SelectQuerystart";
}

@*<h2>SelectQuerystart</h2>*@
請選擇要查詢的隊伍
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
     選項查詢
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="~/memberA/SelectQueryA">桃園台產</a></li>
        <li><a href="~/memberA/SelectQueryB">屏東台電</a></li>
        <li><a href="~/memberA/SelectQueryC">台中太陽神</a></li>
        <li><a href="~/memberA/SelectQueryD">雲林mizuno</a></li>
        <li><a href="~/memberA/SelectQueryE">conti</a></li>
    </ul>
</div>